.header {
  padding: 10px 0;
  border-bottom: 1px solid $header-line;
  
  @media screen and (min-width:768px){
    padding: 21px 0px;
  }

  @media screen and (min-width:1200px) {
    padding: 24px 0px;
  }

  & > .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $logo-color;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    line-height: 0.03em;
    letter-spacing: 0.78px;
    margin-right: auto;
    animation: logo-scale 5000ms alternate infinite;
      @media screen and (min-width:768px){
    margin-right: 87px ;
  }
}

  &__btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;


    @media screen and (min-width:768px) {
      display: none;
    }
  }

  &__menu{
    width: 20px;
    height: 20px;
    fill: $text-color;
  }

  @media screen and (min-width:1200px) {
   font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }

    @keyframes logo-scale {
      0% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(1.1);
      }
    }

      &__color {
    color: $accent-color;
  }

  
  &__list {
    display: none;
    margin-left: auto;
    
    @media screen and (min-width:768px)  {
      display: flex;
      flex-direction: column;
      gap:10px
    }

    @media screen and (min-width:1200px) {
     flex-direction: row; 
     gap:30px;
    }
  }

  &__list {
    display: none;
    margin-left: auto;
    
    @media screen and (min-width:768px)  {
      display: flex;
      flex-direction: column;
      gap:10px
    }

    @media screen and (min-width:1200px) {
     flex-direction: row; 
     gap:30px;
    }
  }
  
  &__item {
    &:nth-child(2) {
      .header__icon {
        width: 10px;
        height: 16px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover,
    &:focus {
      .header__cell {
        color: $accent-color;
      }
      .header__icon {
        fill: $accent-color;
      }
    }
  }
  
  &__cell {
    color: $added-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

   &__icon {
    width: 16px;
    height: 12px;
    fill: rgba(117, 117, 117, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }


// =========================================

.nav {
  display: none;
  @media  screen and (min-width:768px) {
    display: block;
  }
  &__list {
    display: flex;
    gap: 50px;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

// ===============================================
.curent {
  color: $accent-color;

  &::after {
    content: "";
    display: block;
    opacity: 0;
    border-radius: 2px;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 49px;
    left: 0;
    transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0);
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

// MOBAIL--MENU

.menu{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $title-color;
  z-index: 1;
  padding: 48px 0px 40px 40px;

&__close{
position: absolute;
top:10px;
right:15px ;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
border: none;
background-color: transparent;

&:hover{
  .menu__icon{
    fill:$accent-color;

  }
}
}

&__list{
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 100px;
}

&__link{
font-weight: 500;
font-size: 40px;
letter-spacing: 0.02em;
text-align: center;
color: $text-color;

&:hover{
  color: $accent-color;
}
}

&__items{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

&__el:nth-child(1){

  .menu__contact{
font-weight: 500;
font-size: 34px;
letter-spacing: 0.02em;
color: $accent-color;
  }
}


&__contact{
font-weight: 500;
font-size: 24px;
letter-spacing: 0.02em;
color: $added-text;
}

&__social{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

&__elm{
  display: flex ;
  align-items: center;
  gap: 10px;
}


&__elm:not(:last-child)::after{
content: "";
  display: block;
  background-color: rgb(33,33,33,0.2);
  width: 1px;
  height: 22px;
}

&__web{
font-weight: 500;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.02em;
color: $accent-color;
}
}

.curent{
  color: $accent-color;
}

